
/* Footer */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.garis {
    background-color:rgb(163, 41, 94);
    padding: 3px;
}
.footer {
    background: #fcd5d5;
    color: #555;
    font-size: 14px;
    padding: 5px 0 20px;
}
.footer p{
    color: #555;
}
.footer h3{
    color: #555;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    margin-left: 4%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 0px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul {
    list-style-type: none;
}
ul li a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
}
ul li a:hover {
    color: #555;
}
.footer hr{
    border: none;
    background: #555;
    height: 1px;
    margin: 20px 0;
}
.Copyright{
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/----Media Query for Menu----/
@media only screen and (max-width: 800px) {   
    
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
