*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style:none;
    text-decoration: none;
}


header {
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: white;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 25px;
    z-index: 50;
    
}
.logo img {
    margin-left: 100px;
    margin-bottom: -15px;
    margin-top: -15px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 25px;
}
nav ul li a {
    color: black;
}
nav ul li a:hover, nav ul li a.active {
    color: rgb(250, 156, 211);
} 

.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight:400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: rgb(250, 156, 211);
}
.dropdown {
    position: relative;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content .submenu-title {
    color: black;
    font-size: 15px;
}
.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px gray (0, 0, 0, 0.2);
    z-index: 100;
}
.dropdown-profile {
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px gray(0, 0, 0, 0.2);
}
.dropdown-content .dropdown-profile-submenu {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}
.dropdown-content .submenu-title {
    color: black;
    font-size: 15px;
}
.dropdown-product-submenu {
    color: black;
    font-size: 15px;
}
.dropdown-content a {
    color: black;
    padding: 5px 0;
    transition: 0.3s;
}
.dropdown-profile a {
    color: black;
    padding: 5px;
    margin-between-text: 0;
    transition: 0.3s;
    font-size: 15px;
}
.dropdown-content a:hover {
    color: rgb(250, 156, 211);
}
.dropdown-profile a:hover {
    color: rgb(250, 156, 211);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-profile {
    display: block;
}
